<div class="cart-container">
  <h2>Your Cart</h2>

  <div class="empty-cart" *ngIf="cartItems.length <= 0">
    <h3>Your cart is empty🛒.</h3>
    <p>Looks like you haven't added any products to the cart yet.</p>
    <a routerLink="/products" class="products-link">Start Shopping</a>
  </div>

  <div class="cart-item" *ngFor="let item of cartItems">
    <img [src]="item.imageUrl" class="cart-item-image"/>

    <div class="cart-details">
      <h3> {{ item.productName }} </h3>
      <p class="Price">Price: {{ item.price }} </p>
      <div class="quantity-control">
        <label>Quantity: </label>
        <input type="text" class="quantity-input" min="1" [max]="item.stock" [(ngModel)]="item.quantity"
        (ngModelChange)="updateQuantity(item.productId, item.quantity)">
      </div>
      <p class="total-price">Total: {{ item.quantity * item.price }} </p>
    </div>

    <button type="button" (click)="removeItem(item.productId)" class="remove-btn">Remove</button>
  </div>

  <div *ngIf="cartItems.length > 0" class="checkout-section">
    <div class="grand-total">
      <strong>Grand Total: {{ getTotal() }} </strong>
    </div>
    <button type="button" class="checkout-btn" (click)="placeOrder()">Checkout</button>
  </div>

</div>