a {
    text-decoration: none;
    padding: 12px 14px;
    background: linear-gradient(135deg,  #e91e63 0%, #c2185b 100%);
    border-radius: 25px;
    transition: transform 0.3s ease box-shadow 0.3s ease;
    color: white;
    font-weight: bold;
}

a:hover{
    transform: translateY(-20px);
    box-shadow: 0 4px 8px rgba(233, 30, 99, 0.3);
    cursor: pointer;
}