<div class="navbar">
  <div class="nav-left">
    <a routerLink="" class="logo">Shopping Portal</a>
  </div>

  <div class="nav-links">
    <li> <a routerLink="/products">Home</a> </li>
    <li> <a routerLink="/about">About</a></li>
    <li> <a routerLink="/products">Products</a></li>

    <li *ngIf="!isAdmin">
      <a routerLink="/dashboard">Dashboard</a>
    </li>

    <li *ngIf="isAdmin" class="dropdown">
      <a href="#" class="dropbtn">Admin</a>
      <ul class="dropdown-content">
        <li><a routerLink="/admin-manage">Manage Products</a> </li>
        <li><a routerLink="/admin-add">Add Product</a> </li>
      </ul>
    </li>

    <li> <a routerLink="/cart">Cart ({{ cartCount }}) </a></li>
    <li> <a routerLink="/orders">My Orders</a></li>
  </div>

  <div class="nav-right" *ngIf="isLoggedin">
    <button class="logout-button"
    (click)="logout()">
      Logout
    </button>
  </div>
</div>